body {
  background-color: #000 !important;
  --theme-light-color: #000 !important;
  --input-background-color: #121212 !important;
}

.jss9,
.jss7,
.popup-content,
.jss90:hover,
.jss23 .result-list-item.selected,
.post-composer,
.jss159:hover,
.jss428,
.jss424,
.jss426,
.jss50,
.jss54,
.jss48,
.comment,
.backTitle + div > div:nth-child(2),
.backTitle + div,
.backTitle ~ div .MuiButtonBase-root.Mui-selected,
.MuiDialogTitle-root,
.MuiDialogContent-root,
.MuiPaper-root,
.backTitle,
div[role="tabpanel"] {
  background-color: #000 !important;
}

.post-detail,
.comment-feed,
.jss23,
.sidebar-section,
.jss1312,
.jss85:disabled
.icon.cancel,
.jss1437,
.jss1657,
.jss81,
.jss197,
.jss171,
.MuiButton-root.Mui-disabled,
.jss23 .result-list-item.withDivider::after,
.MuiButtonBase-root.Mui-selected,
.MuiButtonBase-root:hover,
.jss173,
.timeline,
.profile,
.post-preview-box div[contenteditable=true] {
  background-color: #121212 !important;
}

.jss50,
.jss2,
.jss9,
.jss98,
.jss218,
[class~=MuiTypography-h1],
input,
.jss1312,
.title,
.jss81,
.jss208,
.MuiTab-wrapper,
.jss50 a,
.jss166,
[name=timeline-handler] a,
.user-avatar span,
.post-detail,
.post-detail span,
[name=detail-handler],
.text-content,
.section-content a[href] div,
.comment-box > div > div[contenteditable=true][style]:nth-child(1),
.post-preview-box div[contenteditable=true],
.backTitle + div > div:nth-child(2) > div:nth-child(4) > div:nth-child(1),
.MuiDialogTitle-root {
  color: #fff !important;
}

.wrapper > div {
  color: #6E7187 !important;
}

.section-content a:hover {
  background-color: #6E7187 !important;
}

path[fill="#010101"],
path[fill="#000000"],
.MuiTab-wrapper path {
  fill: #fff !important;
}

.jss22.focus .search-icon svg path[fill=black] {
  stroke: #fff !important;
}

.comment-feed,
.jss197,
.comment {
  border: 1px solid black !important;
}

#mouse-over-popover > div.MuiPaper-root.MuiPopover-paper > div {
	border: 0 solid black !important;
	background-color: #000 !important;

}
#mouse-over-popover > div.MuiPaper-root.MuiPopover-paper {
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 15px 0px, rgba(255, 255, 255, 0.15) 0px 0px 3px 1px !important;
	border-radius: 16px !important;
	background-color: #000 !important;
}

#mouse-over-popover > div.MuiPaper-root.MuiPopover-paper > div div, span {
	color: rgb(217,217,217) !important;
}

/*Search Bar*/
div#root > div > div > div:nth-child(2) > div > div > div > div > form {
    background-color: rgb(32, 35, 39) !important;
}
